* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: azure;
}

a,
a:link,
a:visited {
  color: #2f4f5c;
  text-decoration: none;
}

button {
  overflow: visible;
}

textarea {
  overflow: auto;
}

/*BUTTON*/

.top-btn {
  background-image: url(/icons/up-arrow-new.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

/*NAV*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #2f4f5c;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2.5px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

/*WELCOME*/

.welcome-container {
  min-height: 92vh;
  opacity: 0.8;
  display: flex;
  flex-flow: column wrap;
  margin-left: 15%;
  margin-top: 10%;
  text-align: left;
}

h1,
.welcome-header {
  color: #273e47;
  font-size: 5.2rem;
  font-weight: bolder;
  letter-spacing: 0.3rem;
}

.welcome-sub-title {
  color: #273e47;
  font-size: 2.9rem;
  letter-spacing: 0.2rem;
  padding: 5rem;
}

.welcome-picture-container {
  position: absolute;
  top: 14%;
  right: 18%;
  border: 2rem;
}

.welcome-picture {
  width: 380px;
  height: auto;
  opacity: 0.9;
  border-radius: 15%;
}

/* ABOUT */

.about-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.about-picture-container {
  align-self: flex-start;
  max-width: 56vw;
  opacity: 0.9;
}

.about-picture {
  max-width: 42%;
  margin-left: 10vw;
  margin-top: 12vh;
  border-radius: 3%;
}

.about-me-container {
  align-self: center;
  flex-basis: auto;
  margin-right: 10%;
}

.about-title {
  color: #273e47;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-align: center;
  opacity: 0.8;
}

.about-sub-title {
  color: #273e47;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: center;
  opacity: 0.8;
  padding: 25px 0px;
}

.about-text {
  color: #273e47;
  font-size: 1vw;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  opacity: 0.8;
  margin-left: 13%;
}

/*PROJECTS*/

.projects-title {
  min-height: 15vh;
  color: #273e47;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  opacity: 0.8;
  text-align: center;
}

.projects-container {
  min-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1.4vh;
  row-gap: 1vw;
  justify-items: center;
}

.project-item {
  width: 85%;
  height: auto;
  border: 10px solid #273e47;
  border-radius: 4%;
  margin: 25px;
  text-align: center;
  text-decoration: none;
  color: #2f4f5c;
  font-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.react-social {
  background-image: url("/images/projects/react.jpg");
}

.js-weather {
  background-image: url("/images/projects/js.png");
}

.node-api {
  background-image: url("/images/projects/nodejs.png");
}

.js-todo {
  background-image: url("/images/projects/js.png");
}

.python-snake {
  background-image: url("/images/projects/python.png");
}

.flask-api {
  background-image: url("/images/projects/flask.png");
  background-position-y: top;
}

/*RESUME*/

.resume-container {
  min-height: 100vh;
  width: 100%;
}

.resume-title-container {
  min-height: 15vh;
  margin-bottom: 2vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.resume-title {
  color: #273e47;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  opacity: 0.8;
}

.resume-sub-title {
  color: #273e47;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: center;
  opacity: 0.8;
  padding: 2.5vh 1vw;
}

.resume-main-container {
  min-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1.4vh;
  row-gap: 1vw;
  justify-items: center;
}

.resume-main-container li {
  list-style: none;
  color: #2f4f5c;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4rem;
  opacity: 0.9;
  letter-spacing: 0;
  padding: 0.5vh 0;
}

.resume-main-container li a {
  text-decoration: none;
}

.resume-left-container,
.resume-right-container {
  padding: 0 3vw;
}

.resume-left-subtitle,
.resume-right-subtitle {
  color: #273e47;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  opacity: 0.9;
  padding-bottom: 1.3vh;
}

.resume-work-title,
.resume-education,
.resume-project-1,
.resume-project-2,
.resume-project-3 {
  color: #2f4f5c;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1vh 0;
}

.resume-work-title {
  padding-top: 6vh;
}

.resume-project-link:hover h4,
.resume-project-link:focus h4,
.resume-project-link:active h4 {
  transition-property: font-size;
  transition-duration: 0.3s;
  font-size: 1rem;
}

.resume-summary li,
.resume-work-summary p {
  color: #2f4f5c;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.8rem;
  opacity: 0.9;
}

.resume-summary li a:hover,
a:focus,
a:active {
  transition-property: font-size;
  transition-duration: 0.3s;
  font-size: 0.9rem;
}

.resume-my-name,
h4 {
  color: #2f4f5c;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1vh 0;
  opacity: 0.8;
}

.resume-job {
  color: #2f4f5c;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 0.5vh 0;
}

.resume-education p {
  color: #2f4f5c;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.8rem;
  opacity: 0.9;
  letter-spacing: 0;
  padding: 0;
}

h5 {
  color: #2f4f5c;
  font-size: 0.8rem;
  opacity: 0.5;
  padding-bottom: 0.3vh 0;
}

/*CONTACT*/

.contact-section {
  min-height: 77vh;
  padding: 4.2vh 0 7vh 0;
  text-align: center;
}
.contact-title {
  text-align: center;
}

.contact-title h2 {
  color: #273e47;
  letter-spacing: 0.3rem;
  font-size: 3.2rem;
  opacity: 0.8;
  margin-bottom: 2.7vh;
  text-align: center;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  max-width: 45vw;
  max-height: 60vh;
  border: 0.3rem solid #273e47;
  border-radius: 1.5rem;
}

#name,
#email {
  width: 14vw;
  height: 5.5vh;
  margin: 5vh 1.5vw;
  align-self: center;
  padding: 1.3vh 3vw;
  border-bottom: 0.1rem solid #273e47;
  background-color: azure;
}

#subject,
#message {
  width: 31vw;
  height: 5vh;
  align-self: center;
  padding: 1.3vh 3vw;
  margin-top: 2vh;
  border-bottom: 0.1rem solid #273e47;
  background-color: azure;
}

#message {
  height: auto;
  margin-bottom: 3vh;
}

#name::placeholder,
#email::placeholder,
#subject::placeholder,
#message::placeholder {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

textarea {
  line-height: 150%;
  height: 15vh;
  resize: none;
  width: 100%;
}

.contact-btn {
  background: none;
  width: 31vw;
  margin-bottom: 5vh;
  align-self: center;
  border: 0.1rem solid #474544;
  color: #273e47;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
  padding: 1.2rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.contact-btn:hover {
  background: #474544;
  color: #f2f3eb;
}

/*FOOTER*/

.footer-container {
  min-height: 23vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.footer-container h3 {
  align-self: center;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.footer-container p {
  align-self: center;
  padding: 0.25vh 0;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  word-spacing: 0.05rem;
}

.social-links {
  align-self: center;
}

.fa {
  margin: 13px;
  font-size: 1.9rem;
  width: 2.6vw;
  height: 5.5vh;
  padding: 0.6vh 0;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/*MEDIA QUERIES*/

/* NAV BAR */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #2f4f5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    z-index: 9999;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transition: transform 0.5s ease-in;
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* WELCOME PAGE */

@media screen and (max-width: 1260px) {
  .welcome-container {
    margin-left: 12vw;
    margin-top: 30vh;
  }
  .welcome-picture {
    margin-top: 12vh;
    max-width: 26vw;
  }
}

@media screen and (max-width: 1000px) {
  
  .welcome-picture-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    right: 10%;
    top: 2%;
  }

  .welcome-container {
    margin-top: 45%;
    text-align: center;
    margin-left: 7%;
  }

  .welcome-header,
  .welcome-sub-title {
    padding: 1rem;
  }

  .welcome-header {
    font-size: 3rem;
  }

  .welcome-sub-title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  
  .welcome-container {
    margin-left: auto;
  }

  .welcome-picture-container {
    top: 12%;
  }
  .welcome-header {
    margin-top: 18%;
  }
}

@media screen and (max-width: 600px) {
  .welcome-picture-container {
    top: 10%;
  }
  .welcome-header {
    margin-top: 30%;
  }
}

/* ABOUT SECTION*/

@media screen and (max-width: 1000px) {
  .about-picture {
    display: none;
  }

  .about-me-container {
    text-align: center;
    margin: auto;
  }

  .about-title,
  .about-sub-title {
    font-size: 1.5rem;
    padding: 4vh 0;
  }

  .about-text {
    text-align: left;
    font-size: 0.7rem;
    line-height: 2rem;
  }
}

/* PROJECTS */

@media screen and (max-width: 1200px) {
  .projects-container {
    min-height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(9vw, auto);
    column-gap: 1.5vh;
    row-gap: 1.25vw;
  }

  .project-item {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    opacity: 0.8;
  }

  .project-item:hover,
  .project-item:hover:focus,
  .project-item:hover:active {
    opacity: 1;
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  .react-social {
    background-color: #61dafb;
  }

  .js-weather,
  .js-todo {
    background-color: #f7df1e;
  }
  .node-api {
    background-color: #3c873a;
  }

  .python-snake {
    background-color: #306998;
  }

  .flask-api {
    background-color: #B2B1B9;
  }
}

/*RESUME*/

@media screen and (max-width: 1350px) {
  .resume-work-title,
  .resume-education,
  .resume-project-1,
  .resume-project-2,
  .resume-project-3 {
    padding: 0;
  }

  .resume-work-title {
    padding-top: 3vh;
  }
}

@media screen and (max-width: 1100px) {
  .resume-work-title {
    padding-top: 0.1vh;
  }
}

@media screen and (max-width: 975px) {
  .resume-container {
    margin: 2.5vw 0;
  }

  .resume-title-container {
    padding-top: 1vh;
  }

  .resume-work-summary p,
  .resume-education p,
  .resume-right-container li,
  .resume-right-container h5 {
    display: none;
  }

  .resume-job {
    font-weight: 600;
    font-size: 0.8rem;
  }

  .resume-work-title,
  .resume-job,
  .resume-education,
  h4 {
    font-size: 1rem;
    padding: 3vh 0 2vh 0;
  }

  h4.resume-my-name {
    font-size: 1rem;
  }

  .resume-right-subtitle {
    padding-bottom: 5vh;
  }

  .resume-project-1,
  .resume-project-2,
  .resume-project-3 {
    padding-bottom: 6vh;
    opacity: 0.8;
  }

  .resume-project-link:hover h4,
  .resume-project-link:focus h4,
  .resume-project-link:active h4 {
    font-size: 1.1rem;
  }
}

/*CONTACT FORM*/

@media screen and (max-width: 1015px) {
  .contact-container form {
    max-width: 80%;
  }

  #name, #email {
    width: 35%;
  }

  #subject, #message {
    width: 70%;
  }

  #message {
    height: 10vh;
  }

  #name::placeholder,
  #email::placeholder,
  #subject::placeholder,
  #message::placeholder {
    font-size: 3.5vw;
    letter-spacing: 0;
  }
}
