* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(#b0abeb, white); */
    font-family: 'Lora', serif;
    background: url(../images/welcome-bg.jpg);
}

.nav-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-home {
    flex: auto;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3rem;
    align-content: center;
}

.right-nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

