* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1.6rem;
}

body {
    font-family: 'Lora', serif;
    background-color: azure;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #2f4f5c;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2.5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


/*WELCOME*/

.welcome-bg {
    min-height: 92vh;
    opacity: 0.8;
    position: relative;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    position: absolute;
    top: 30%;
    left: 38%;
}

.main-picture {
    position: absolute;
    top: 15%;
    right: 75%;
    border: 2rem;
    border-radius: 50%;
}

.sub-header {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 30%;
    left: 45%;
    margin-top: 8%;

}

/* ABOUT */

.about-me {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: flex-end;
}

.about-title {

}

.sub-title {

}

.about-text {
    font-size: 18px;
}

/*MEDIA QUERY*/

@media screen and (max-width: 1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}